<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!-- build:css(.tmp) styles/fonts.css -->
        <link rel="stylesheet" href="styles/fonts.css">
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/core.css -->
        <link rel="stylesheet" href="styles/core.css">
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/plugins.css -->
        <link rel="stylesheet" href="styles/plugins.css">
        <!-- endbuild -->

        <script type="text/javascript" src="//use.typekit.net/fda0smh.js"></script>
    </head>
<body>
<div id="wrapper" class="row collapse">
{{> body  }}
{{> footer }}
</div>
{{> footer-build }}
</body>
</html>