.album-art-grid {

	font-family: $futura;
	
	h4 {		
		margin: rem-calc(12) 0 0 0;
		font-family: $futura;
		font-size: rem-calc(16);
		font-weight: normal;
	}

	.year {
		font-size: rem-calc(12);
		margin: 0;
	}
}