<section class="row">
	<div class="small-12 medium-10 medium-centered large-9 columns">
		<div class="row">
			<div class="medium-6 columns">
				<a class="track" href="/lps/membership" data-track-cat="link" data-track-action="click" data-track-label="home-membership-img"><img src="/static-assets/images/watchlist.jpg" alt="Sign up for access to your own watch list of movies"></a>
			</div>
			<div class="medium-6 columns">
				<h3>Add Movies to your Watch List</h3>
				<p>Become a <b>Free</b> Member and curate your own Watch List. With 1 click gather your favorite movies in a single place. Add and remove movies throughout the website to form your favorite list.</p>
				<button class="open-registration round green large" data-slide="signup">Sign up For Free</button>
				<p><a class="link-green track" href="/lps/membership" alt="Learn more about becoming a member at best movies by farr" data-track-cat="link" data-track-action="click" data-track-label="home-membership-learnmore">Click here to learn more about becoming a member.</a></p>
			</div>
		</div>
		<div class="lines"></div>
	</div>
</section>
