<section id="newsletter" class="row">
    <div class="small-12 medium-8 large-7 small-centered columns">
        <div class="inner row">
            <div class="small-12 medium-12 large-7 columns">
                <img src="/static-assets/images/motw-hp.jpg" alt="30 Best Movies Since The Millennium to see again and again.">
            </div>
            <div class="small-12 medium-12 large-5 columns">
                <h3>Newsletter</h3>
                <p>Subscribe to the newsletter to get great content like free Movie guides and Movie picks!</p>
                <form id="newsletter-form" data-abide="ajax">
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="email" name="email" placeholder="Email" required />
                            <small class="error">A valid email address is required.</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <button id="submit" class="submit button small round" name="submit">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{{!-- Modals --}}
<div id="successModal" class="reveal-modal tiny" data-reveal>
    <h2>Thanks!</h2>
    <p class="lead"><i class="fa fa-check fa-lg"></i> You have successfully subscribed.</p>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id="errorModal" class="reveal-modal tiny" data-reveal>
    <h2>Oops...</h2>
    <p class="lead">We are sorry but it appears that your email is not valid. Please give it one more try.</p>
    <a class="close-reveal-modal">&#215;</a>
</div>