<div class="recent row">
	<div class="small-12 columns">
		<h3>Recent Stories</h3>
		<ul class="small-block-grid-2 large-block-grid-4">
			<li>
				<a href="#"><img class="th" src="http://placehold.it/680x370&amp;text=placeholder" alt=""></a>
				<h4>Article Title 1</h4>
			</li>
			<li>
				<a href="#"><img class="th" src="http://placehold.it/680x370&amp;text=placeholder" alt=""></a>
				<h4>Article Title 2</h4>
			</li>
			<li>
				<a href="#"><img class="th" src="http://placehold.it/680x370&amp;text=placeholder" alt=""></a>
				<h4>Article Title 3</h4>
			</li>
			<li>
				<a href="#"><img class="th" src="http://placehold.it/680x370&amp;text=placeholder" alt=""></a>
				<h4>Article Title 4</h4>
			</li>
		</ul>
		<div class="lines more">
			<div><a href="#" class="button small round">More Stories</a></div>
		</div>
	</div>	
</div>