<div id="reg-dropdown" data-dropdown-content class="f-dropdown content" aria-hidden="true">
    <div id="registration" class="pages" data-orbit>
        <div data-orbit-slide="login" class="slide">
            <h2>Login</h2>
            <form id="facebook-connect-form" action="/connect/facebook" method="POST"> 
                <div class="row">
                    <div class="large-12 columns">
                        <a id="facebook-connect-btn" href="#" class="btn btn-facebook" data-js="facebook-connect">
                            <span class="">Connect with Facebook</span>
                        </a>
                        <p class="recommended">(Recommended)</p>
                    </div>
                </div>
            </form>

            <div class="divider row collapse">
                <div class="large-12 columns">
                    <div class="line"><span>or use your account</span></div>
                </div>  
            </div>

            <form class="login-form bmbf-form" data-abide="ajax">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="row collapse">
                            <div class="small-12 email-wrapper columns">
                                <input name="username" type="email" placeholder="Email" required />
                                <small class="error">A valid email address is required.</small>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-12 password-wrapper columns">
                                <input name="password" type="password" placeholder="Password" pattern="^.{2,255}$" required />
                                <small class="error">A password of atleast 2 characters is required.</small>
                            </div>
                        </div>
                        <div class="row collapse server-message">
                            <div class="small-12 columns">
                                <small class="server-error"></small>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-6 columns">
                                <input class="remember" name="remember" type="checkbox" value="1"> Remember Me
                            </div>
                            <div class="small-6 columns">
                                <button type="submit" class="submit small right radius">Login</button>
                            </div>
                        </div>                                                    
                    </div>
                </div>
            </form>

            <div class="row collapse">
                <div class="small-12 columns">
                    <a href="#" data-orbit-link="forgot" class="forgot right"><i>Forgot your Password?</i></a>
                </div>
            </div>   

            <div class="divider row collapse">
                <div class="large-12 columns">
                    <div class="line"><span>Don't have an account?</span></div>
                    <a data-orbit-link="signup" class="slide-nav">Sign Up <i class="bmbf bmbf-arrow-long-right"></i></a>
                </div>
            </div>
        </div><!-- end login slide -->

        <div data-orbit-slide="signup" class="slide">
            <h2>Signup</h2>

            <form class="signup-form bmbf-form" data-abide="ajax">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="row collapse">
                            <div class="small-12 email-wrapper columns">
                                <input name="email" type="email" placeholder="Email" required />
                                <small class="error">A valid email address is required.</small>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-12 columns">
                                <div class="row collapse">
                                    <div class="small-6 user-wrapper columns">
                                        <input name="firstname" type="text" placeholder="First Name" required />
                                        <small class="error">Please provide your First Name.</small>
                                    </div>
                                    <div class="small-6 columns">
                                        <input class="lastname" name="lastname" type="text" placeholder="Last Name" required />
                                        <small class="error">Please provide your Last Name.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-12 password-wrapper columns">
                                <input name="password" type="password" placeholder="Password" pattern="^.{2,255}$" required />
                                <small class="error">A password of atleast 2 characters is required.</small>
                            </div>
                        </div>
                        <div class="row collapse server-message">
                            <div class="small-12 columns">
                                <small class="server-error"></small>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-12 columns">
                                <button type="submit" class="submit small right radius">Sign Up</button>
                            </div>
                        </div>                                                    
                    </div>
                </div>
            </form>

            <div class="row collapse">
                <div class="small-12 columns">
                    <p class="disclaimer text-center">By clicking "Sign Up", you agree to Best Movies by Farr's <a href="/terms-of-use">Terms of Use</a> and <a href="/privacy-policy">Privacy Policy</a>.</p>
                </div>
            </div>   

            <div class="divider row collapse">
                <div class="large-12 columns">
                    <div class="line"><span>Already have an account?</span></div>
                    <a data-orbit-link="login" class="slide-nav"><i class="bmbf bmbf-arrow-long-left"></i> Login</a>
                </div>
            </div>
        </div><!-- end signup slide -->

        <div data-orbit-slide="forgot" class="slide">
            <h2>Forgot your Password?</h2>

            <div class="divider row collapse">
                <div class="large-12 columns">Let us know what email you use to login and we'll send you an email with instructions.</div>
            </div>

            <form class="forgot-form bmbf-form" data-abide="ajax">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="row collapse">
                            <div class="small-12 email-wrapper columns">
                                <input name="email" type="email" placeholder="Email" required />
                                <small class="error">A valid email address is required.</small>
                            </div>
                        </div>
                        <div class="row collapse server-message">
                            <div class="small-12 columns">
                                <small class="server-error"></small>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-12 columns">
                                <button id="forgot-btn" type="submit" class="submit small right radius">Send</button>
                            </div>
                        </div>                                                    
                    </div>
                </div>
            </form>

            <div class="divider row collapse">
                <div class="large-12 columns">
                    <div class="line">&nbsp;</div>
                    <a data-orbit-link="login" class="slide-nav"><i class="fa fa-long-arrow-left"></i> Cancel</a>
                </div>
            </div>
        </div><!-- end forgot pwd slide -->

        <div data-orbit-slide="reset" class="slide">
            <h2 data-orbit-link="reset">New Password</h2>

            <form class="reset-form bmbf-form" data-abide="ajax">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="row collapse">
                            <div class="small-12 password-wrapper columns">
                                <input id="password-new" name="passwordNew" type="password" placeholder="Password" pattern="^.{2,255}$" required />
                                <small class="error">A password of atleast 2 characters is required.</small>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-12 password-wrapper columns">
                                <input id="password-confirm" name="passwordConfirm" type="password" placeholder="Confirm Password" pattern="^.{2,255}$" required data-equalto="password-new" />
                                <small class="error">The password did not match.</small>
                            </div>
                        </div>
                        <div class="row collapse server-message">
                            <div class="small-12 columns">
                                <small class="server-error"></small>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-12 columns">
                                <button id="reset-btn" type="submit" class="submit small right radius">Change Password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="divider row collapse">
                <div class="large-12 columns">
                    <div class="line">&nbsp;</div>
                    <a data-orbit-link="login" class="slide-nav"><i class="fa fa-long-arrow-left"></i> Cancel</a>
                </div>
            </div>
        </div><!-- end reset slide -->

        <div data-orbit-link="confirm" data-orbit-slide="confirm" class="slide confirm">
            <h2></h2>
            <div class="row collapse">
                <div class="large-12 columns msg"></div>
            </div>
            <div class="row collapse">
                <div class="small-12 text-center columns">
                    <i class="bmbf bmbf-check bmbf-7x"></i>
                </div>
            </div>
            <div class="login-btn-container row collapse">
                <div class="small-12 text-center columns">
                    <button data-orbit-link="login" class="button small round">Login Here</button>
                </div>
            </div>
            <div class="divider row collapse">
                <div class="large-12 columns">
                    <div class="line">&nbsp;</div>
                    <a class="slide-nav close"><i class="fa fa-long-arrow-left"></i> Close</a>
                </div>
            </div>
        </div><!-- end confirm slide -->
    </div>
</div>