<section id="tagline" class="row">
	<div class="small-12 medium-10 medium-centered large-9 columns">
		<div class="row">
			<div class="medium-12 columns">
				<h2>A quality filter for great movies to stream, rent, or buy.</h2>
			</div>
		</div>
	</div>
</section>
