<section id="trending" class="row">
	<div class="small-12 medium-10 medium-centered large-9 columns">
		<h3>Trending this week</h3>
		<ul class="small-block-grid-3 large-block-grid-6">
			<li>
				<a href="#"><img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg" alt=""></a>
				<h4>Movie Title 1</h4>
				<p class="year">&bull; 1971</p>
			</li>
			<li>
				<a href="#"><img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg" alt=""></a>
				<h4>Movie Title 2</h4>
				<p class="year">&bull; 1961</p>
			</li>
			<li>
				<a href="#"><img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg" alt=""></a>
				<h4>Movie Title 3</h4>
				<p class="year">&bull; 1957</p>
			</li>
			<li>
				<a href="#"><img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg" alt=""></a>
				<h4>Movie Title 4</h4>
				<p class="year">&bull; 2013</p>
			</li>
			<li>
				<a href="#"><img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg" alt=""></a>
				<h4>Movie Title 5</h4>
				<p class="year">&bull; 2010</p>
			</li>
			<li>
				<a href="#"><img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg" alt=""></a>
				<h4>Movie Title 6</h4>
				<p class="year">&bull; 2006</p>
			</li>
		</ul>
		<div class="lines more">
			<div><a href="#" class="button small round">More Movies</a></div>
		</div>
	</div>
</section>