---
title: 'Best Movies by Farr - Account Invalid'
class: 'token-invalid'
---
{{#extend "master"}}
{{#content "header"}}
<header class="page {{class}}">
	<div class="row collapse">
        <div class="small-12 columns">
            <h2>Token Invalid...</h2>
        </div>
    </div>
</header>
{{/content}}

{{#content "body"}}
<section id="{{class}}" class="row page">
	<div class="small-12 medium-10 medium-centered large-9 columns">
		<div class="row">
			<div class="small-12 columns">
				<h3>This token has expired. You may signup again by pressing the button below:</h3>
				<div class="lines"></div>		
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-7 large-5 columns">
				<button class="open-registration round" data-slide="signup">Sign Up</button>
			</div>
		</div>
	</div>
</section>
{{/content}}
{{/extend}}