---
title: 'Become a free member of Best Movies by Farr'
class: 'becomeamember'
---
{{#extend "master"}}
{{#content "header"}}
<header class="page {{class}}">
    <div class="row collapse">  
        <div class="small-10 small-centered columns">
            <h2><span>TIRED OF BROWSING ENDLESSLY FOR A GREAT MOVIE?</span><br>WE MAKE IT QUICK AND EASY TO CHOOSE A WINNER EVERY TIME</h2>
        </div>
    </div>
</header>
{{/content}} 

{{#content "body"}}
<section id="{{class}}" class="row page">
    <div class="content">
        <div class="small-12 medium-10 medium-centered large-9 columns">
            <div class="row">
                <div class="small-12 columns">
                    <h3>Become a Member, It's FREE (for now)!</h3>
                    <div class="comparison-table row">
                        <div class="medium-6 large-7 columns no-padding-right show-for-large-up">
                            <h3>&nbsp;</h3>
                            <ul class="list-group definitions">
                                <li>Access to our quality filter: a curated database of 2,600+ Movies</li>
                                <li>Fun, movie-themed editorial, with gorgeous photos and lots of trivia</li>
                                <li>Weekly Email Newsletter with articles and movie picks</li>
                                <li>With 1 click, watch our recommendations on over 15 Streaming Services</li>
                                <li>Build a Watch List queue of your favorite movies</li>
                                <li>Get personalized recommendations according to your own tastes</li>
                                <li>Get detailed suggestions for hosting memorable movie nights in your home</li>
                                <li>Be part of our community (comment and share)</li>
                            </ul>
                        </div>
                        <div class="medium-6 large-2 columns visitor no-padding-left no-padding-right">
                            <h3>Visitor</h3>
                            <ul class="list-group">
                                <li>
                                    <i class="bmbf bmbf-check bmbf-lg"></i>
                                    <span class="hide-for-large-up">Access to our quality filter: a curated database of 2,600+ Movies</span>
                                </li>
                                <li>
                                    <i class="bmbf bmbf-check bmbf-lg"></i>
                                    <span class="hide-for-large-up">Fun, movie-themed editorial, with gorgeous photos and lots of trivia</span>
                                </li>
                                <li>
                                    <i class="bmbf bmbf-check bmbf-lg"></i>
                                    <span class="hide-for-large-up">Weekly Email Newsletter with articles and movie picks</span>
                                </li>
                                <li>
                                    <i class="bmbf bmbf-close bmbf-lg"></i>
                                    <span class="hide-for-large-up">With 1 click, watch our recommendations on over 15 Streaming Services</span>
                                </li>
                                <li>
                                    <i class="bmbf bmbf-close bmbf-lg"></i>
                                    <span class="hide-for-large-up">Build a Watch List queue of your favorite movies</span>
                                </li>
                                <li>
                                    <i class="bmbf bmbf-close bmbf-lg"></i>
                                    <span class="hide-for-large-up">Get personalized recommendations according to your own tastes</span>
                                </li>
                                <li>
                                    <i class="bmbf bmbf-close bmbf-lg"></i>
                                    <span class="hide-for-large-up">Get detailed suggestions for hosting memorable movie nights in your home</span>
                                </li>
                                <li>
                                    <i class="bmbf bmbf-close bmbf-lg"></i>
                                    <span class="hide-for-large-up">Be part of our community (comment and share)</span>
                                </li>
                            </ul>
                            
                        </div>
                        <div class="medium-6 large-3 columns member no-padding-left">
                            <h3>Member</h3>
                            <ul class="list-group">
                                <li>
                                    <i class="bmbf bmbf-check bmbf-lg"></i>
                                    <span class="hide-for-large-up">Access to our quality filter: a curated database of 2,600+ Movies</span>
                                </li>
                                <li>
                                    <i class="bmbf bmbf-check bmbf-lg"></i>
                                    <span class="hide-for-large-up">Fun, movie-themed editorial, with gorgeous photos and lots of trivia</span>
                                </li>
                                <li>
                                    <i class="bmbf bmbf-check bmbf-lg"></i>
                                    <span class="hide-for-large-up">Weekly Email Newsletter with articles and movie picks</span>
                                </li>
                                <li>
                                    <i class="bmbf bmbf-check bmbf-lg"></i>
                                    <span class="hide-for-large-up">With 1 click, watch our recommendations on over 15 Streaming Services</span>
                                </li>
                                <li>
                                    <i class="bmbf bmbf-check bmbf-lg"></i>
                                    <span class="hide-for-large-up">Build a Watch List queue of your favorite movies</span>
                                </li>
                                <li>
                                    <i class="bmbf bmbf-check bmbf-lg"></i>
                                    <span class="hide-for-large-up">Get personalized recommendations according to your own tastes</span>
                                </li>
                                <li>
                                    <i class="bmbf bmbf-check bmbf-lg"></i>
                                    <span class="hide-for-large-up">Get detailed suggestions for hosting memorable movie nights in your home</span>
                                </li>
                                <li>
                                    <i class="bmbf bmbf-check bmbf-lg"></i>
                                    <span class="hide-for-large-up">Be part of our community (comment and share)</span>
                                </li>
                            </ul>
                            <button class="open-registration round green large" data-slide="signup">Sign up For Free</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lines"></div>
            <div class="row">
                <div class="small-12 columns">
                    <h3 class="tagline">Become a part of our community, and further explore our <span>2,600<span>+</span></span> curated movie database.</h3>
                </div>
            </div>

            <div class="feature row">
                <div class="medium-6 columns">
                    <h3>Entertain With Movies</h3>
                    <p>Become a member for access to our Movie Nights. Each movie night is a complete plan for entertaining. Get detailed suggestions for hosting memorable movie nights in your home.</p>
                    <button class="open-registration round green large show-for-medium-up" data-slide="signup">Sign up For Free</button>
                </div>
                <div class="medium-6 columns">
                    <img class="th" src="/static-assets/images/dinnerparty.jpg" alt="Dinner parties with movie theme">
                </div>
            </div>
            <div class="lines"></div>
            <div class="feature row">
                <div class="medium-6 columns">
                    <img src="/static-assets/images/watchlist.jpg" alt="Sign up for access to your own watch list of movies">
                </div>
                <div class="medium-6 columns">
                   <h3>Add movies to your Watch List</h3>
                   <p>With 1 click gather your favorite movies in a single place. Add and remove movies throughout the website to form your favorite list.</p>
                   <button class="open-registration round green large show-for-medium-up" data-slide="signup">Sign up For Free</button>
                </div>
            </div>
            <div class="lines"></div>
            <div class="feature row">
                <div class="medium-6 columns">
                   <h3>Movie of The Week</h3>
                   <p>Every week receive an email from John Farr which contains a select favorite pick for you to enjoy.</p>
                   <button class="open-registration round green large show-for-medium-up" data-slide="signup">Sign up For Free</button>
                </div>
                <div class="medium-6 columns">
                    <img src="/static-assets/images/motw-hp.jpg" alt="Sign up for access to a great movie every week">
                </div>
            </div>

        </div>
    </div>

    <div id="become-a-member-signup" class="footer-signup">
        <div class="small-12 small-centered medium-8 large-5 columns text-center">
            <div class="row">
                <h3 class="text-center">Be a Hero, Become a Member Now!</h3>
                <p>Sign up below to gain <b>FREE</b> access to ALL of our free and exclusive content.</p>
                <button class="open-registration round green large" data-slide="signup">Sign up For Free</button>
            </div>      
        </div>
    </div>

    <div class="social">
        <div class="small-12 medium-10 medium-centered large-9 columns">
            <div class="row">
                <div class="small-12 text-center columns">
                    <h3>Get your friends involved</h3>
                    <ul>
                        <li><a data-name="facebook" href="https://www.facebook.com/BMBFarr"><i class="bmbf bmbf-facebook bmbf-2x"></i></a></li>
                        <li><a data-name="twitter" href="https://twitter.com/BMBFarr"><i class="bmbf bmbf-twitter bmbf-2x"></i></a></li>
                        <li><a data-name="youtube" href="https://www.youtube.com/user/BestMoviesByFarr01"><i class="bmbf bmbf-youtube bmbf-2x"></i></a></li>
                        <li><a data-name="google plus" href="https://plus.google.com/106531416792232339116"><i class="bmbf bmbf-google-plus bmbf-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{{/content}}
{{/extend}}