---
title: 'Best Movies by Farr'
layout: 'home.hbs'
---

<section id="nl-form-search" class="row">
{{>	natural_lang_form }}
</section>

<section id="articles" class="row">
	<div class="small-12 medium-10 medium-centered large-9 columns">
		<div class="today row">
			<div class="small-12 columns">

				<div class="row">
					<div class="small-12 columns">
						<h2><a href="#"><span>Oscar Bait:</span><br>6 Types of Roles that Are Academy Gold</a></h2>
						<div class="authored"><i class="bmbf bmbf-clock bmbf-middle"></i> posted on 10.3.14 by <a href="#">John Farr</a></div>
					</div>
				</div>

				<div class="row">
					<div class="small-12 large-8 columns">
						<a href="#"><img class="th featured" src="http://placehold.it/680x370&amp;text=placeholder" alt=""></a>
					</div>
					<div class="story small-12 large-4 columns">
						<p class="copy">Even though much of the appeal of horror movies lies in their power to tap into primal fears, I'd like to think our cerebral cortexes have evolved to the point where we want our thrills to test our minds as well as our nerves. After all, horror movies often leave the greatest, and most lasting, chill when they hinge on psychological, rather than fantastical, terrors.</p>
						<button class="button small round">Read More</button>
					</div>
				</div>

			</div>
		</div>
		{{> recent_stories }}
	</div>
</section>
{{> trending_movies }}
<section id="filter-choices" class="row">
	<div class="small-12 medium-10 medium-centered large-9 columns">
		<h3>We've got a movie for everyone — including you!</h3>
		<ul class="small-block-grid-2 large-block-grid-5">
			<li>
				<a href="#" class="content">
					<div class="icon-container"><i class="bmbf bmbf-genre bmbf-3x"></i></div>
					<div class="button round">Genre</div>
				</a>
			</li>
			<li>
				<a href="#" class="content">
					<div class="icon-container"><i class="bmbf bmbf-clock bmbf-3x"></i></div>
					<div class="button round">Decade</div>
				</a>
			</li>
			<li>
				<a href="#" class="content">
					<div class="icon-container"><i class="bmbf bmbf-smile bmbf-3x"></i></div>
					<div class="button round">Mood</div>
				</a>
			</li>
			<li>
				<a href="#" class="content">
					<div class="icon-container"><i class="bmbf bmbf-globe bmbf-3x"></i></div>
					<div class="button round">Country</div>
				</a>
			</li>
			<li>
				<a href="#" class="content">
					<div class="icon-container"><i class="bmbf bmbf-dice bmbf-3x"></i></div>
					<div class="button round">Feeling Lucky?</div>
				</a>
			</li>
		</ul>
		<div class="lines"></div>
	</div>
</section>
{{> newsletter }}