---
title: 'Best Movies by Farr'
---
{{> nav }}

<section id="hero">
	<div class="slide row">
		<div class="small-12 columns">
			<div class="pick row">
				<div class="small-12 columns">
					<p class="headline">Pick of the Day:</p>
					<p class="category">Genre/Drama</p>
				</div>
			</div>
			<div class="title row">
				<div class="small-12 medium-9 large-10 columns">
					<h2>127 Hours</h2>
				</div>
				<div class="small-12 medium-3 large-2 columns">
					<button class="button round">Watch Now</button>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="slogan" class="row">
	<div class="small-12 medium-10 medium-centered columns">
		<h1>The BEST movies curated just for you...by a human being.</h1>
		<div class="divider-lines"></div>
	</div>
</section>


<section id="articles" class="row">
	<div class="small-12 medium-10 medium-centered columns">
		<div class="row">
			<div class="small-12 medium-7 large-8 columns">
				<h2>Today's Story</h2>
				<img class="th featured" src="http://placehold.it/680x370&amp;text=placeholder">
			</div>
			<div class="story small-12 medium-5 large-4 columns">
				<h3>8 Great Horror Flicks For the Smart Crowd</h3>
				<div class="authored">posted on 10.3.14 by <a href="#">John Farr</a></div>
				<p class="copy">Even though much of the appeal of horror movies lies in their power to tap into primal fears, I’d like to think our cerebral cortexes have evolved to the point where we want our thrills to test our minds as well as our nerves. After all, horror movies often leave the greatest, and most lasting, chill when they hinge on psychological, rather than fantastical, terrors.</p>
				<button class="button round">Read More</button>
			</div>
			

			<div class="recent row">
				<div class="small-12 columns">
					<h3>Recent Stories</h3>
					<ul class="small-block-grid-2 large-block-grid-4">
						<li>
							<img class="th" src="http://placehold.it/680x370&amp;text=placeholder">
							<h4>Article Title 1</h4>
						</li>
						<li>
							<img class="th" src="http://placehold.it/680x370&amp;text=placeholder">
							<h4>Article Title 2</h4>
						</li>
						<li>
							<img class="th" src="http://placehold.it/680x370&amp;text=placeholder">
							<h4>Article Title 3</h4>
						</li>
						<li>
							<img class="th" src="http://placehold.it/680x370&amp;text=placeholder">
							<h4>Article Title 4</h4>
						</li>
					</ul>
				</div>	
			</div>	
		</div>
		<div class="divider-lines"></div>
	</div>
</section>

<section id="trending" class="row">
	<div class="small-12 medium-10 medium-centered columns">
		<h3>Trending this week</h3>
		<ul class="small-block-grid-3 large-block-grid-6">
			<li>
				<img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg">
				<h4>Movie Title 1</h4>
			</li>
			<li>
				<img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg">
				<h4>Movie Title 2</h4>
			</li>
			<li>
				<img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg">
				<h4>Movie Title 3</h4>
			</li>
			<li>
				<img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg">
				<h4>Movie Title 4</h4>
			</li>
			<li>
				<img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg">
				<h4>Movie Title 5</h4>
			</li>
			<li>
				<img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg">
				<h4>Movie Title 6</h4>
			</li>
		</ul>
		<div class="divider-lines"></div>
	</div>
</section>

<section id="filter-choices" class="row">
	<div class="small-12 medium-10 medium-centered columns">
		<h3>We've got a movie for everyone — including you!</h3>
		<ul class="small-block-grid-2 large-block-grid-5">
			<li>
				<img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg">
				<h4>Movie Title 1</h4>
			</li>
			<li>
				<img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg">
				<h4>Movie Title 2</h4>
			</li>
			<li>
				<img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg">
				<h4>Movie Title 3</h4>
			</li>
			<li>
				<img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg">
				<h4>Movie Title 4</h4>
			</li>
			<li>
				<img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg">
				<h4>Movie Title 5</h4>
			</li>
		</ul>
		<div class="divider-lines"></div>
	</div>
</section>