---
title: 'Best Movies by Farr'
---
{{> nav }}
{{> header }}

<section id="slogan" class="row">
	<div class="small-12 medium-9 medium-centered columns">
		<h2>The BEST movies curated just for you...by a human being.</h2>
		<div class="lines"></div>
	</div>
</section>

<section id="articles" class="row">
	<div class="small-12 medium-10 medium-centered large-9 columns">
		<div class="today row">
			<div class="small-12 medium-7 large-8 columns">
				<h3>Today's Story</h3>
				<a href="#"><img class="th featured" src="http://placehold.it/680x370&amp;text=placeholder"></a>
			</div>
			<div class="story small-12 medium-5 large-4 columns">
				<h2>8 Great Horror Flicks For the Smart Crowd</h2>
				<div class="authored"><i class="bmbf bmbf-clock bmbf-middle"></i> posted on 10.3.14 by <a href="#">John Farr</a></div>
				<p class="copy">Even though much of the appeal of horror movies lies in their power to tap into primal fears, I'd like to think our cerebral cortexes have evolved to the point where we want our thrills to test our minds as well as our nerves. After all, horror movies often leave the greatest, and most lasting, chill when they hinge on psychological, rather than fantastical, terrors.</p>
				<button class="button round">Read More</button>
			</div>
		</div>
		<div class="recent row">
			<div class="small-12 columns">
				<h3>Recent Stories</h3>
				<ul class="small-block-grid-2 large-block-grid-4">
					<li>
						<a href="#"><img class="th" src="http://placehold.it/680x370&amp;text=placeholder"></a>
						<h4>Article Title 1</h4>
					</li>
					<li>
						<a href="#"><img class="th" src="http://placehold.it/680x370&amp;text=placeholder"></a>
						<h4>Article Title 2</h4>
					</li>
					<li>
						<a href="#"><img class="th" src="http://placehold.it/680x370&amp;text=placeholder"></a>
						<h4>Article Title 3</h4>
					</li>
					<li>
						<a href="#"><img class="th" src="http://placehold.it/680x370&amp;text=placeholder"></a>
						<h4>Article Title 4</h4>
					</li>
				</ul>
			</div>	
		</div>
		<div class="lines"></div>
	</div>
</section>

<section id="trending" class="row">
	<div class="small-12 medium-10 medium-centered large-9 columns">
		<h3>Trending this week</h3>
		<ul class="small-block-grid-3 large-block-grid-6">
			<li>
				<a href="#"><img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg"></a>
				<h4>Movie Title 1</h4>
				<p class="year">&bull; 1971</p>
			</li>
			<li>
				<a href="#"><img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg"></a>
				<h4>Movie Title 2</h4>
				<p class="year">&bull; 1961</p>
			</li>
			<li>
				<a href="#"><img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg"></a>
				<h4>Movie Title 3</h4>
				<p class="year">&bull; 1957</p>
			</li>
			<li>
				<a href="#"><img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg"></a>
				<h4>Movie Title 4</h4>
				<p class="year">&bull; 2013</p>
			</li>
			<li>
				<a href="#"><img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg"></a>
				<h4>Movie Title 5</h4>
				<p class="year">&bull; 2010</p>
			</li>
			<li>
				<a href="#"><img class="th" src="http://www.bestmoviesbyfarr.com/movies/tt0031762/images/w5eM1oWByOXBSbi4j7fDEkDnC44.jpg"></a>
				<h4>Movie Title 6</h4>
				<p class="year">&bull; 2006</p>
			</li>
		</ul>
		<div class="lines"></div>
	</div>
</section>

<section id="filter-choices" class="row">
	<div class="small-12 medium-10 medium-centered large-9 columns">
		<h3>We've got a movie for everyone — including you!</h3>
		<ul class="small-block-grid-2 large-block-grid-5">
			<li>
				<a href="#" class="content">
					<div class="icon-container"><i class="bmbf bmbf-genre bmbf-3x"></i></div>
					<button href="#" class="button round">Genre</button>
				</a>
			</li>
			<li>
				<a href="#" class="content">
					<div class="icon-container"><i class="bmbf bmbf-clock bmbf-3x"></i></div>
					<button class="button round">Decade</button>
				</a>
			</li>
			<li>
				<a href="#" class="content">
						<div class="icon-container"><i class="bmbf bmbf-smile bmbf-3x"></i></div>
						<button class="button round">Mood</button>
					</a>
				</a>
			</li>
			<li>
				<a href="#" class="content">
					<div class="icon-container"><i class="bmbf bmbf-globe bmbf-3x"></i></div>
					<button class="button round">Country</button>
				</a>
			</li>
			<li>
				<a href="#" class="content">
					<div class="icon-container"><i class="bmbf bmbf-dice bmbf-3x"></i></div>
					<button class="button round">Feeling Lucky?</button>
				</a>
			</li>
		</ul>
		<div class="lines"></div>
	</div>
</section>

{{> newsletter }}