---
title: 'Movie Nights from Best Movies by Farr'
class: 'movienight'
---
{{#extend "master"}}
{{#content "header"}}
<header class="{{class}}">
		<div class="slide" style="background-image:url(http://beta.bestmoviesbyfarr.com/static-assets/images/movies/background/1947/zbxrgnEF3LQDKm6DT6poDMFWriM.jpg)">
			<div class="row collapse">
				<div class="content small-12 columns">
					<h2><span>Movie Night:</span><br>The Bishop's Wife</h2>
				</div>
			</div>
		</div>
	{{!-- <div class="row collapse">  
		<div class="content small-12 columns">
			<h2><span>Movie Night:</span><br>The Bishop's Wife</h2>
		</div>
	</div> --}}
</header>
{{/content}}

{{#content "body"}}
<section id="{{class}}" class="row page">
	<div class="small-12 medium-8 medium-centered large-9 columns">
		<div class="row">
			<div class="small-12 large-3 columns">
				<h3>Table of Contents</h3>
				<div class="lines"></div>
				<ul id="options" class="side-nav" role="navigation" title="Link List">
					<li class="active" role="menuitem"><a href="#therundown"><i class="bmbf bmbf-filmstrip"></i> The Rundown</a></li>
					<li class="divider"></li>
					<li role="menuitem"><a href="#trivia"><i class="bmbf bmbf-trivia"></i> Farr Notes</a></li>
					<li class="divider"></li>
					<li role="menuitem"><a href="#recipes"><i class="bmbf bmbf-cutlery"></i> Recipes</a></li>
					<li class="divider"></li>
					<li role="menuitem"><a href="#drinks"><i class="bmbf bmbf-glass"></i> Drinks &amp; Cocktails</a></li>
					<li class="divider"></li>
					<li role="menuitem"><a href="#music"><i class="bmbf bmbf-music"></i> Music Soundtrack</a></li>
					<li class="divider"></li>
					<li role="menuitem"><a href="#clothing"><i class="bmbf bmbf-suit"></i> What to Wear?</a></li>
					<li class="divider"></li>
					<li role="menuitem"><a href="#">Print Everything</a></li>
				</ul>
			</div>
			<div class="movie-night-content small-12 large-8 columns">
				<section class="row">
					<div class="small-12 columns">
						<a id="therundown" class="anchor"></a>
						<h3>The Rundown: "The Bishop's Wife"</h3>
						<div class="lines"></div>
						<dl>
							<dt>What's It About</dt>
							<dd>When Bishop Henry Brougham (David Niven) prays for money to build a desired new cathedral, his prayers are answered with the Yuletide arrival of guardian angel Dudley (Cary Grant). Quietly and unobtrusively, Dudley helps re-align the bishop's priorities and revive his marriage to wife Julia (Young), who never realizes that Dudley's heaven-sent.</dd>

							<dt>Why we Love it</dt>
							<dd>Nominated for Best Film at the 1947 Oscars, Henry Koster's sweet, thoroughly charming "Bishop's Wife" was a big crowd-pleaser in its day, and has since become one of our more cherished holiday films. Cary Grant was never smoother playing Dudley, the most debonair of angels. Co-starring David Niven and a dazzling Loretta Young as the title character, this joyful, witty film still has something to say about keeping the spirit of Christmas alive all year round.</dd>
						</dl>
						<div class="flex-video widescreen">
							<iframe width="700" height="394" src="//www.youtube.com/embed/yIdfDEdaXIE?autohide=1&showinfo=0&vq=hd720&hd=1" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</section>

				<section class="row">
					<div class="small-12 columns">
						<a id="trivia" class="anchor"></a>
						<h3>FarrNotes: Secret Behind the Scenes Trivia to Wow Your Guests!</h3>
						<div class="lines"></div>
						<p><img class="th" src="/static-assets/images/movienights/bishopswife/insidescoop.jpg"></p>
						<ul class="trivia">
							<li>Filmed in Minneapolis, Minnesota.</li>
							<li>The original director, William A. Seiter, was abruptly fired a few weeks into filming (and replaced by Henry Koster) because Samuel Goldwyn didn't like what had been shot. The decision to start the film over again was a costly one — $1 million had already been spent!</li>
							<li>The main lead actors started out in the reverse roles! Originally, Cary Grant played the bishop and David Niven the angel. However, when new director Henry Koster viewed what had been already shot and instantly knew the two actors had been cast in the wrong roles, and  had to make the switch. (Though Grant took some convincing — he wanted the title role!)</li>
							<li>This was Cary Grant’s 51st credited film!</li>
							<li>Early audiences didn't like the movie! So Billy Wilder and Charles Brackett were brought in to rewrite some scenes, uncredited.</li>
							<li>Oops! When Dudley dictates the Christmas sermon, we see, typed onto the paper: "You give me a tie. I give you a book." But, when the Bishop gives the sermon on Christmas Morning, he reverses the sentences and reads, "I give you a book. You give me a tie."</li>
							<li>Many might recognize the remake of this movie, "The Preacher’s Wife" (1996) with Denzel Washington and Whitney Houston. Though we obviously prefer the original.</li>
							<li>The movie didn’t perform well at the box office at first. Market research showed that audiences perceived the movie to be religious, so Goldwyn retitled the film "Cary and the Bishop's Wife" for some US markets and adding a big text box that read "Have you heard of CARY AND THE BISHOP’S WIFE?" on the posters that kept the original title.</li>
							<li>Grant's star power increased the film's success by 25%.</li>
						</ul>
					</div>
				</section>

				<section class="row">
					<div class="small-12 columns">
						<a id="recipes" class="anchor"></a>
						<h3>Recipes</h3>
						<div class="lines"></div>

						<div class="row">
							<div class="large-6 columns">
								<dl>
									<dt>Entree</dt>
									<dd>recipe 1</dd>
								</dl>
							</div>
							<div class="large-6 columns">
								<dl>
									<dt>Desert</dt>
									<dd>recipe 2</dd>
								</dl>
							</div>
						</div>
					</div>
				</section>

				<section class="row">
					<div class="small-12 columns">
						<a id="drinks" class="anchor"></a>
						<h3>Drinks &amp; Cocktails</h3>
						<div class="lines"></div>

						<div class="row">
							<div class="small-12 columns">
								<h4>Heavenly Cocktail: The Stinger</h4>
								<p><img class="th" src="/static-assets/images/movienights/bishopswife/thestinger.jpg"></p>
								<p>Cocktail courtesy of the Midnight Mixologist.</p>
								<p>Even angels enjoy a perfectly mixed drink, and sophisticated seraph, Dudley, orders himself a Stinger. A classic 40s cocktail, a Stinger blends brandy and crème de menthe for a warming, wintery tipple.</p>

								<dl>
									<dt>Ingredients</dt>
									<dd>
										<ul>
											<li>1 ½ oz Brandy</li>
											<li>½ oz white crème de menthe</li>
										</ul>
									</dd>

									<dt>Directions</dt>
									<dd>In a shaker glass with ice, pour in brandy and crème de menthe. Shake well and strain into a chilled cocktail glass.</dd>
								</dl>
							</div>
						</div>
					</div>
				</section>

			</div><!-- END movie-night-content -->
		</div>
	</div>
</section>
{{/content}}
{{/extend}}