---
title: 'Movie Nights from Best Movies by Farr'
class: 'movienightslp'
---
{{#extend "master"}}
{{#content "header"}}
<header class="page {{class}}">
    <div class="row collapse">  
        <div class="small-12 columns">
            <h2><span>Introducing:</span><br>Best Movie Nights by Farr</h2>
        </div>
        <div class="row">
            <div class="small-12 small-centered large-10 columns">
                <div class="content row">
                    <div class="small-12 medium-7 large-8 columns">
                        <div class="flex-video widescreen">
                            <iframe width="700" height="394" src="//www.youtube.com/embed/9sBGb8l9sJQ?autohide=1&showinfo=0&autoplay=1&vq=hd720&hd=1" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="small-12 medium-5 large-4 columns">
                        <h3>One Click to the Ultimate Movie Party!</h3>
                        <h4>The movie, the menu, the atmosphere, and all the behind-the-scenes trivia to make your movie night the best ever.</h4>
                        <button class="open-registration round green large" data-slide="signup">Sign up For Free</button>
                        <p><small>and receive our holiday Movie Night.</small></p>
                    </div>    
                </div>
            </div>   
        </div> 
    </div>
</header>
{{/content}} 

{{#content "body"}}
<section id="{{class}}" class="row page">
    <div class="content">
        <div class="small-12 medium-10 medium-centered large-9 columns">
            <div class="row">
                <div class="medium-6 columns">
                    <h3>What are Movie Nights?</h3>
                    <p>A new and exciting offering on Best Movies by Farr. The Movie Nights Club is all about using movies to entertain.</p>
                    <p>You may have already done a Movie Night with your friends in your own home, maybe it worked maybe it didn’t. Still it’s not as easy as it sounds! You’re wondering what to show, will everyone like it, what do you serve?</p>
                    <p>With over a decade of experience in themed movie nights, John Farr shows you how todo them so they are fun, rewarding and risk free!</p>
                </div>
                <div class="medium-6 columns">
                    <img class="th" src="/static-assets/images/dinnerparty.jpg" alt="">
                </div>
            </div>
            <div class="lines"></div>
            <div class="row">
                <div class="small-12 columns">
                    <h3>How does it work?</h3>
                    <p>Each Movie Night is based on a theme and amazing suggestions for each of the following:</p>
                    <div id="category-panels">
                        <div id="panel-1" class="panel gpu">
                            <div class="content">
                                <h3>A Movie Pick</h3>
                                <div class="underline"></div>
                            </div>
                        </div>
                        <div id="panel-2" class="panel gpu">
                            <div class="content">
                                <h3>Recipes</h3>
                                <div class="underline"></div>
                            </div>
                        </div>
                        <div id="panel-3" class="panel gpu">
                            <div class="content">
                                <h3>Drinks &amp; Cocktails</h3>
                                <div class="underline"></div>
                            </div>
                        </div>
                        <div id="panel-4" class="panel gpu">
                            <div class="content">
                                <h3>Behind the scenes trivia</h3>
                                <div class="underline"></div>
                            </div>
                        </div>
                        <div id="panel-5" class="panel gpu">
                            <div class="content">
                                <h3>Music</h3>
                                <div class="underline"></div>
                            </div>
                        </div>
                        <div id="panel-6" class="panel gpu">
                            <div class="content">
                                <h3>What to wear?</h3>
                                <div class="underline"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lines"></div>
            <div class="row">
                <div class="small-12 medium-8 large-6 medium-centered columns">
                    <h3 class="text-center">Enjoy Entertaining Again</h3>
                    <p>Start throwing Movie Nights like these and you will be the hero of your neighborhood. We provide the do’s and dont’s that make a great Movie Night. We want to make it easy for you to enjoy being the host or hostess. People will leave your place thinking they’ve seen a great movie and enjoyed a great party all at the same time!</p>
                </div>
            </div>
        </div>
    </div>

    <div id="movie-night-signup">
        <div class="small-12 small-centered medium-8 large-5 columns text-center">
            <div class="row">
                <h3 class="text-center">Be a Hero Sign up Now!</h3>
                <p>Sign up below to gain <b>FREE</b> access to the 1st Movie Night. Each movie night is a complete plan for entertaining. Every theme has been carefully setup for ultimate fun!</p>
                <button class="open-registration round green large" data-slide="signup">Sign up For Free</button>
                <p class="terms"><small>Signing up grants you access to the 1st Movie Night for free.<br class="show-for-medium-up">This one is on us, so if you really enjoy it you may consider<br class="show-for-medium-up">subscribing to the monthly service at $9.99/month in the future.</small></p>
            </div>      
        </div>
    </div>

    <div class="social">
        <div class="small-12 medium-10 medium-centered large-9 columns">
            <div class="row">
                <div class="small-12 text-center columns">
                    <h3>Get your friends involved</h3>
                    <ul>
                        <li><a data-name="facebook" href="https://www.facebook.com/BMBFarr"><i class="bmbf bmbf-facebook bmbf-2x"></i></a></li>
                        <li><a data-name="twitter" href="https://twitter.com/BMBFarr"><i class="bmbf bmbf-twitter bmbf-2x"></i></a></li>
                        <li><a data-name="youtube" href="https://www.youtube.com/user/BestMoviesByFarr01"><i class="bmbf bmbf-youtube bmbf-2x"></i></a></li>
                        <li><a data-name="google plus" href="https://plus.google.com/106531416792232339116"><i class="bmbf bmbf-google-plus bmbf-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{{/content}}
{{/extend}}