---
title: 'Best Movies by Farr - Movie'
class: 'movie'
---
{{#extend "master"}}
{{#content "header"}}
<header class="{{class}}" style="background-image: url(http://www.bestmoviesbyfarr.com/static-assets/images/movies/background/2012/i1gBtPIKJtWs5ZxZXZZOHR5MaVY.jpg);">
</header>
{{/content}}

{{#content "body"}}
<section id="{{class}}" class="row page" data-id="tt1843287" data-gwi-id="265529" itemscope="itemscope" itemtype="http://schema.org/Movie">
	<div class="small-10 small-centered large-8 columns">
		<div class="post row">
			<div class="social icons">
				<div class="bmbf bmbf-filmstrip bmbf-lg"></div>
				<div class="bmbf bmbf-facebook bmbf-lg"></div>
				<div class="bmbf bmbf-twitter bmbf-lg"></div>
				<div class="bmbf bmbf-google-plus bmbf-lg"></div>
			</div>

			<div class="lines show-for-large-up"></div>

			<div class="meta medium-5 columns">
				<div class="row">
					<div class="small-12 columns">
						<div class="th-wrap">
							<img class="th" src="http://bestmoviesbyfarr.com/static-assets/images/movies/poster/2012/691KHAO7hVhvveFpz6CSDS7Q4s5.jpg" alt="Like Someone in Love Poster" title="Like Someone in Love Poster" data-key="image" class="editable-image">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<table class="small-12">
							<thead>
								<tr>
									<th class="small-4">Released</th>
									<th class="small-4">Runtime</th>
									<th class="small-4">Category</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>2012</td>
									<td>109</td>
									<td>
										<a href="/search?category=Drama&amp;t=movie">Drama</a>, <a href="/search?category=Foreign Language&amp;t=movie">Foreign Language</a>
									</td>
								</tr>
							</tbody>
						</table>
						<table class="small-12">
							<thead>
								<tr>
									<th class="small-8">Director</th>
									<th class="small-4">Language</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="/search?director=Abbas Kiarostami&amp;t=movie" itemprop="name">Abbas Kiarostami</a></td>
									<td><a href="/search?language_s=Japanese&amp;t=movie" itemprop="inLanguage">Japanese</a></td>
								</tr>
							</tbody>
						</table>
						<table class="small-12">
							<thead>
								<tr>
									<th class="small-12">Actors</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<a href="/search?cast=Rin Takanashi&amp;t=movie" itemprop="name">Rin Takanashi</a>, <a href="/search?cast=Tadashi Okuno&amp;t=movie" itemprop="name">Tadashi Okuno</a>, <a href="/search?cast=Ryō Kase&amp;t=movie" itemprop="name">Ryō Kase</a>, <a href="/search?cast=Denden&amp;t=movie" itemprop="name">Denden</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<hr class="show-for-small-only">
			<div class="content medium-6 columns">
				<h2 class="title">Like Someone in Love</h2>
				<dl>
					<dt class="gowatchit-dt">Watch it on:<span><a href="http://gowatchit.com">Powered by GoWatchIt</a></span></dt>
					<dd class="gowatchit-dd">
						<ul class="gowatchit">
						</ul>
						<hr>
					</dd>

					<dt>What's it About</dt>
					<dd>Tokyo student Akiko (Takanashi) moonlights as a high-end call girl, and reluctantly agrees to a late night job. She is driven to the apartment of the distinguished (and elderly) Professor Takashi Watanabe (Okuno), who has prepared dinner for her and seems only to want to chat. The next morning he drives her to school, but they run into Noriaki (Kase), her jealous boyfriend, who mistakes Takashi for Akiko’s grandfather — at first. Takashi returns home, but soon a desperate Akiko calls on him for help. She needs protection from Noriaki... and so does the good professor.</dd>

					<dt>Why we love it</dt>
					<dd>Kiarostami’s second film outside of his native Iran (after 2010’s "Certified Copy") delivers a subtle, layered meditation on loneliness and isolation. These three characters never really communicate or connect; each seems trapped in a prison of their own making. The effect is eerie, and a final act of violence feels almost inevitable. Like most of Kiarostami’s earlier entries, this powerful drama will linger on in your consciousness. A nominee for the prestigious Palme d’Or at Cannes, there’s a lot to love in "Love."</dd>
				</dl>
			</div>
		</div>
	</div>
</section>
<div class="row collapse">
	<div class="shortform-content small-12 columns">
		<h3>Up Next</h3>
		<h2><a href="">A Cottage on Dartmouth</a></h2>
	</div>
</div>
{{> ad_rotator }}
{{/content}}
{{/extend}}