---
title: 'Best Movies by Farr - Articles'
class: 'stories'
---
{{#extend "master"}}
{{#content "header"}}
<header class="page {{class}}">
	<div class="row collapse">
        <div class="small-12 columns">
            <h2>Stories</h2>
        </div>
    </div>
</header>
{{/content}}

{{#content "body"}}
<section id="{{class}}" class="row page">
	<div class="small-12 medium-10 medium-centered large-9 columns">
		<ul class="story-list small-block-grid-1 medium-block-grid-2 large-block-grid-3">
			{{#times 20}}
			<li>
				<a href="#"><img class="th" src="http://www.bestmoviesbyfarr.com.s3.amazonaws.com/articles/dA8oDT/images/2-eive2s.jpg" alt="Story Title"></a>
				<h4>Airtight Action: 6 Unfathomably Great Submarine Movies</h4>
			</li>
			{{/times}}
		</ul>
		{{> pagination }}
	</div>
</section>
{{/content}}
{{/extend}}