body {
	font-family: georgia, serif;
	color: $oil;
	background: url(../images/pattern.jpg);
    background-repeat: repeat;
}

h1, h2, h3, h4 {
    font-family: $didot;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;	
}

small {
	font-family: $helvetica;
}

#wrapper {
    background: #fff;
}

.divider-lines {
	display: block;
	height: rem-calc(7);
	background-image: url("../images/pattern.jpg");
	background-repeat: repeat;
	//border-top: 1px solid $steel;
}

button {
	font-family: $futura;
	font-weight: bold;
	text-transform: uppercase;
}