@media #{$small-to-medium-only} {

	#brand {
		@include border-radius(0px 0px 12px 0px);
		width: (88/$med-logo-divisor) * 1px;
		height: (166/$med-logo-divisor) * 1px;
		margin-left: rem-calc(10);
		a {
			img {
				width: (62/$med-logo-divisor) * 1px;
				height: (144/$med-logo-divisor) * 1px;
				margin: rem-calc(5) auto;
			}
		}
	}

	nav {
		.title-area {
			.name {
				margin-left: rem-calc(60);
			}
		}
	}

	header {
		.slide {
			.content {
				.title {
					.button-container {
						text-align: left;
					}
				}
			}	
		}
	}

	#copyright-wrap {
		text-align: center;
		margin-bottom: rem-calc(30);
	}

	footer {
		.nav-small {
			margin-top: rem-calc(20);
			text-align: center;
		}

		.copyright-terms {
			text-align: center;
		}
	}
}

@media #{$small-only} {
	#brand {
		@include border-radius(0px);
		width: (88/$small-logo-divisor) * 1px;
		height: $topbar-height - 1;
		margin-left: 0;
		// background-image: none;

		a {
			img {
				width: (62/$small-logo-divisor) * 1px;
				height: (144/$small-logo-divisor) * 1px;
				margin: rem-calc(5) auto;
			}
		}
	}

	nav {
		.title-area {
			.name {
				margin-left: rem-calc(20);
			}
		}
	}

	header {
		.slide {
			padding: 0;

			.content {
				.pick {
					padding-top: rem-calc(100);
				}

				.title {
					h2 {
						font-size: rem-calc(72);
					}
				}	
			}
		}
	}
}

@media #{$topbar-media-query} {
	.top-bar-section {
		li.divider {
			height: 22px;
			margin-top: 11px;
		}
	}
}