body {
	font-family: georgia, serif;
	color: $oil;
}

h1, h2, h3, h4 {
    font-family: 'Didot 06 7r','Didot 06 A','Didot 06 B';
    font-style: normal;
    font-variant: normal;
    font-weight: bold;	
}

small {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}