body {
	font-family: $font-family-serif;
	color: $oil;
	background: url(#{$image-path}/pattern.jpg);
    background-repeat: repeat;
}

h1, h2, h3, h4 {
    font-family: $didot;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;	
}

small {
	font-family: $font-family-sans-serif !important;
}

#wrapper {
    background: #fff;
}

.lines {
	display: block;
	position: relative;
	margin: rem-calc(50) 0;
	height: rem-calc(7);
	background-image: url(#{$image-path}/pattern.jpg);
	background-repeat: repeat;
	//border-top: 1px solid $steel;

	&.more {
		// double bottom margin if containing a more btn
		margin: rem-calc(50) 0 rem-calc(100) 0;

		// more btn containing div
		div {
			@include clearfix();
			padding: 0 0 0 18px;
			position: absolute;
			right: 0;
			top: -21px;
			background: $white;

			@media #{$small-only} {
				right: auto;
				padding: 0 10px 0 0;
			}

			a {
				margin: 0;
				float: right;
			}
		}
	}
}

button,
.button {
	font-family: $futura;
	font-weight: bold;
	text-transform: uppercase;
}

.server-error {
	@extend .error;
}