body {
	font-family: $body-font;
	color: $oil;
	background: url(#{$image-path}/pattern.jpg);
    background-repeat: repeat;
}

h1, h2, h3, h4 {
    font-family: $didot;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;	
}

small {
	font-family: $helvetica;
}

#wrapper {
    background: #fff;
}

.lines {
	display: block;
	margin: rem-calc(50) 0;
	height: rem-calc(7);
	background-image: url(#{$image-path}/pattern.jpg);
	background-repeat: repeat;
	//border-top: 1px solid $steel;
}

button,
.button {
	font-family: $futura;
	font-weight: bold;
	text-transform: uppercase;
}

.server-error {
	@extend .error;
}