footer {
    border-top: 1px solid $gainsboro;
    border-bottom: 1px solid $gainsboro;
    margin: rem-calc(80) 0;
    padding: rem-calc(20) 0;

    .blurb {
        font-family: $font-family-serif;
        font-size: rem-calc(11);
        line-height: rem-calc(15);
        margin: 0;
    }

    #copyright-wrap {
        @include clearfix();
        overflow: hidden;
    }

    #c {
        @include border-radius(50%);
        display: inline-block;
        font-family: $didot;
        font-weight: 700;
        position: relative;
        width: 62px;
        height: 62px;
        margin-right: rem-calc(6);
        background: url(#{$image-path}/pattern.jpg);
        background-repeat: repeat;
        font-size: rem-calc(40);
        line-height: rem-calc(68);
        text-align: center;
    }

    #year {
        display: inline-block;
        font-family: $didot3r;
        font-weight: 300;
        font-size: rem-calc(80);
        line-height: 1;
    }

    .nav-small {
        list-style: none;
        text-align: right;
        margin: 0;

        li {
            display: inline-block;
            margin: 0 rem-calc(7);

            a {
                color: $steel;
                font-weight: bold;
                font-size: rem-calc(10);
                font-family: $futura;
                text-transform: uppercase;
            }
        }
    }

    .copyright-terms {
        font-family: $font-family-serif;
        font-style: italic;
        font-size: rem-calc(11);
        text-align: right;
        color: $steel;
    }

    .vendors {
        padding-top: rem-calc(20);
        padding-bottom: rem-calc(5);
        text-align: right;
        font-size: rem-calc(13);
        font-family: $futura;
        font-weight: normal;
        text-transform: none;

        @media #{$small-to-medium-only} {
            text-align: center;
        }
    }
}