header {
	position: relative;
	margin-bottom: rem-calc(50);

	.slide {
		// Hide slides until JS loads.
		display: none;

		padding: 0 rem-calc(60);
		max-height: 617px;

		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;

		// CSS3 Effects
		@include box-shadow(inset 0 0 190px 80px $black);
		//@include grayscale-bg();
		zoom: 1;

		@media #{$small-only} {
			@include box-shadow(inset 0 0 84px 20px $black);
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: url(#{$image-path}/pattern-trans.png);
			@include transparent($black, 0.25);
			opacity: 1;
		}

		.content {
			z-index: 1; // to go above :after pattern
			position: relative; // to go above box-shadow

			.pick {
				margin-bottom: rem-calc(10);
				padding-top: rem-calc(175);

				.headline,
				.category  {
					@extend %text-shadow;
					font-family: $futura;
					font-weight: bold;
					text-transform: uppercase;
					color: #fff;
					padding: 0;
					margin: 0;
				}

				.headline {
					font-size: rem-calc(26);
				}

				.category {
					font-size: rem-calc(20);

					span {
						font-size: rem-calc(21);
						font-style: italic;
						color: darken($white, 20%);
					}
				}
			}

			.title {
				border-top: 2px solid #d7d7d7;
				border-bottom: 2px solid #d7d7d7;
				padding: rem-calc(20) 0;
				margin-bottom: rem-calc(80);
				position: relative;

				.button-container {

					@media #{$large-up} {
						position: absolute;
						top: 50%;
						right: 0;
						transform: translateY(-50%);
						text-align: right;
					}
					//line-height: 10;
				}

				h2 {
					margin: 0;
					//line-height: 1.2;
					font-size: rem-calc(80);
					color: #fff;
					@extend %text-shadow;
				}

				a {
					font-size: rem-calc(22);
					background-color: $white;
					color: $primary-color;
					margin: 0;
				}
			}
		}
	}
}