#slogan {
	text-align: center;

	h2 {
		font-size: rem-calc(40);
	}
}

#articles {
	img {
		&.featured {
			width: 100%;
		}
	}

	.today {
		margin-bottom: rem-calc(25);

		.story {
			padding-top: rem-calc(34);

			h2 {
				line-height: 1.2;
			}

			.authored {
				color: $steel;
				font-style: italic;
				margin-bottom: rem-calc(10);
			}
		}
	}

	.recent {
		li {
			a {
				display: block;
			}

			h3 {
				margin-bottom: rem-calc(30);
			}

			h4 {
				margin-top: rem-calc(8);
				font-family: $futura;
				font-size: rem-calc(18);
				font-weight: normal;
				//text-transform: uppercase;
			}
		}
	}
}


#filter-choices {
	h3 {
		text-align: center;
		margin: 0 0 rem-calc(60) 0;	
	}

	ul {
		li {
			text-align: center;

			.content {
				border: 1px solid $aluminum;
				padding: rem-calc(32) rem-calc(12);
				display: block;

				.icon-container {
					margin: 0 0 rem-calc(25) 0;
				}

				.button {
					@include button(
						rem-calc(8),
						$primary-color,
						$global-radius,
						false,
						false,
						false
					);
					margin: 0;
				}
			}			
		}
	}
}