@mixin gradient-bg() {
	background: #333;
	background-image: -o-linear-gradient(-89deg, #222 13%, rgba(0,0,0,0.90) 74%);
	background-image: -moz-linear-gradient(-89deg, #222 13%, rgba(0,0,0,0.90) 74%);
	background-image: -ms-linear-gradient(-89deg, #222 13%, rgba(0,0,0,0.90) 74%);
	background-image: linear-gradient(-179deg, #222 13%, rgba(0,0,0,0.90) 74%);
}

@function grayscale($value) {
  @return #{ "grayscale(" + $value + ")" };
}
@mixin grayscale-bg() {
//    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
// 	 -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
// -webkit-filter: grayscale(100%);
// 		filter: gray;
// 		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");

-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		filter: gray;
//		filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

@mixin border-radius($amount...) {
		 border-radius: $amount;
	-moz-border-radius: $amount;
 -webkit-border-radius: $amount;
	 -ms-border-radius: $amount;
	  -o-border-radius: $amount;
}

@mixin box-shadow($amount...) {
	   -moz-box-shadow: $amount; 
	-webkit-box-shadow: $amount;  
			box-shadow: $amount;
}

@mixin transparent($color, $alpha) {
	$rgba: rgba($color, $alpha);
	$ie-hex-str: ie-hex-str($rgba);
	background-color: transparent;
	zoom: 1;
	background-color: $rgba;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
}

// We use this to do clear floats
@mixin clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}
