header {
	&.movie {
		margin: 0;
		height: rem-calc(500);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center 20%;
	}
}

#movie {
	margin-top: -$icons-height;
	
	.lines {
		@extend %movie-article-lines;
	}

	@media #{$small-only} {
		margin-top: rem-calc(-465);
	}

	@media #{$medium-only} {
		margin-top: rem-calc(-260);
	}

	// @media #{$small-to-medium-only} {
	// 	.lines {
	// 		display: none;
	// 	}
	// }	

	.post {		
		background: $white;
	}

	.meta {
		.th-wrap {
			position: relative;
			margin-bottom: rem-calc(15);
			// padding-bottom: rem-calc(20);
			// background-image: url(#{$image-path}/pattern.jpg);
		}

		table {
			border-spacing: 0;
			vertical-align: top;
			margin-bottom: rem-calc(15);
		}

		th {
			text-align: left;
			font-family: $futura;
			font-size: rem-calc(12);
			font-weight: bold;
			text-transform: uppercase;
			color: $oil;
		}

		td {
			vertical-align: top;
			text-align: left;
			font-family: $futura;
			font-size: rem-calc(14);
			color: $steel;
		}
	}

	.content {
		h2 {
			font-size: rem-calc(60);
			line-height: rem-calc(60);
			margin-bottom: 1.25rem;
			color: $primary-color;
		}
	}	
}

.add-watch-overlay,
.add-watch-overlay-fixed {
	@include border-radius(0 0 0 12px);
	@include opacity(0);
	@include transparent($black, 0.75);

	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	padding: 8px;
	
	font-weight: 700;
	font-size: rem-calc(12);
	font-family: $futura;
	text-transform: uppercase;
	color: #fff;
	
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;

	span {
		vertical-align: 26%;
	}
}

.add-watch-overlay-fixed,
.add-watch-overlay.active {
	@include opacity(1);
}

// because the icon fonts have weird bounding boxes
.gowatchit-dt {
	margin-bottom: rem-calc(-10);
}

.gowatchit-dd {
	margin-bottom: 1rem;
}

.gowatchit {
	list-style: none;
	margin: 0;

	li {
		display: inline-block;
		vertical-align: middle;

		&:first-child a {
			padding-left: 0;
		}

		&:last-child a {
			padding-right: 0;
		}

		a {
			display: block;
			padding: rem-calc(0 8);
		}
	}

	.bmbf {
		font-size: 4.9em;
	}
}