header {
	&.movienightslp,
	&.movienight {
		h2, h3, h4 {
			color: $white;
		}

		h2 {
			margin-bottom: rem-calc(25);
			text-align: center;
			font-size: rem-calc(55);
			text-transform: uppercase;
			font-style: italic;

			span {
				font-style: normal;
				color: $base;
			}
		}
	}

	&.movienightslp {
		max-height: 842px;
		padding: rem-calc(50 0);
		text-align: left;
		background-image: url(#{$image-path}/bgMovieNightLp.jpg);

		h2 {
			@media #{$medium-only} {
				font-size: rem-calc(50);
			}

			@media #{$small-only} {
				font-size: rem-calc(30);
			}
		}

		h3 {
			font-size: rem-calc(36);
			font-family: $futura;
			line-height: 1.2;
			text-transform: uppercase;font-weight: normal;
			margin-bottom: rem-calc(30);

			@media #{$small-only} {
				font-size: rem-calc(18);
				margin-bottom: rem-calc(20);
			}
		}

		h4 {
			margin-bottom: rem-calc(38);
			font-family: $font-family-sans-serif;
			font-weight: normal;
			font-size: rem-calc(18);
			line-height: 1.7;
			color: $vapor;

			@media #{$small-only} {
				font-size: rem-calc(14);
			}

			@media #{$medium-only} {
				font-size: rem-calc(16);
			}
		}

		.row.content {
			padding: rem-calc(35 0);
			border-top: 1px solid $white;
			border-bottom: 1px solid $white;

			p, button {
				margin: 0;
			}

			small {
				color: $base;
				font-size: rem-calc(14);
			}
		}
	}

	&.movienight {
		//z-index: 51; // above magellan

		.slide {
			display: block;
			padding: rem-calc(0 15);
			height: 420px;
			max-height: 420px;
			background-position: center 20%;
			@include box-shadow(inset 0 0 94px 30px $black);

			@media #{$small-only} {
				@include box-shadow(inset 0 0 70px 20px $black);
			}
		}

		h2 {
			font-size: rem-calc(72);
			margin-top: 180px;
			line-height: 1.2;
			@extend %text-shadow;

			@media #{$medium-only} {
				font-size: rem-calc(60);
			}

			@media #{$small-only} {
				font-size: rem-calc(40);
			}

			span {
				color: $white;
			}
		}
	}
}

section#movienightslp {
	h3 {
		margin-bottom: rem-calc(25);
	}

	.content,
	#movie-night-signup,
	.social {
		@include clearfix();
	}

	// .social {
	// 	ul {
	// 		list-style: none;
	// 		margin: 0;

	// 		li {
	// 			margin: 0 rem-calc(24);
	// 			display: inline-block;

	// 			@media #{$small-only} {
	// 				margin: 0 rem-calc(15);
	// 			}

	// 			 a {
	// 				color: #333;
	// 			 }
	// 		}
	// 	}
	// }
}

section#movienight {
	section {
		margin-bottom: 3rem;
	}

	.side-nav {
		li {
			font-size: 1rem;

			&:first-child {
				a {
					padding-top: 0;
				}
			}

			a {
				padding: 0.75rem 0;
			}
			
			i {
				padding-right: rem-calc(10);
			}

			button {
				margin-top: 0.75rem;
			}
		}
	}

	.movie-night-content {
		a {
			@extend %standard-link;

			&.button {
				text-decoration: none;
			}
		}

		dl {
			&.equalizer-watch {
				dd {
					padding-bottom: rem-calc(60);
					position: relative;

					h4 {
						margin-top: 1rem;
					}

					button {
						&.floor {
							margin: 0;
							position: absolute;
							bottom: 0;
						}
					}
				}
			}
		}	

		ul {
			margin-left: 0;
			list-style-position: inside;
			
			&.remove-list-style {
				list-style: none;
			}

			li {
				margin-bottom: 1rem;
			}
		}	

		[class*="block-grid-"] {
			margin: 0 -0.625rem;
		}

		.th {
			width: 100%;
		}

		.album-art {
			width: auto;
			max-height: 300px;
		}
	}
}

.lines {
	section#movienightslp & {
		margin: rem-calc(75 0);

		@media #{$small-only} {
			margin: rem-calc(25 0);
		}
	}
}

#category-panels {
	$panel-height: 468px; // height of image
	$panel-small-to-medium-height-divisor: 3;
	$panel-small-to-medium-height: $panel-height/$panel-small-to-medium-height-divisor;
	@include clearfix();
	//height: $panel-height;
	background-color: $white;

	// @media #{$small-to-medium-only} {
	// 	height: $panel-small-to-medium-height;
	// }

	&:hover {
		.panel {
			width: 15.3%; //(100/6)/1.1111111111 * 1%;//14.285714286%;
			@media #{$small-to-medium-only} {
				width: 50%;
			}
		}
	}

	.panel {
		-webkit-transition: width 0.25s ease;
		-moz-transition: width 0.25s ease;
		-o-transition: width 0.25s ease;
		transition: width 0.25s ease;
		position: relative;
		float: left;
		overflow: hidden;
		height: $panel-height;
		width: (100/6) * 1%;
		// cursor: pointer;
		background-position: bottom center;
		background-repeat: no-repeat;

		@media #{$small-to-medium-only} {
			width: 50%;
			height: $panel-small-to-medium-height;
			background-position: center center;

			&:hover {
				width: 50%;
			}
		}		

		&:hover {
			width: (100/6)*1.4 * 1%;
			@media #{$small-to-medium-only} {
				width: 50%;
			}

			.content {
				.underline {
					width: 100px;
					opacity: 1;
				}
			}
		}

		.content {
			text-align: center;
			-webkit-transition: all 0.25s ease;
			-moz-transition: all 0.25s ease;
			-o-transition: all 0.25s ease;
			transition: all 0.25s ease;
			position: absolute;
			top: 10px;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 10;

			h3 {
				@extend %text-shadow;
				margin: 0;
				padding: 0;
				font-family: $futura;
				font-size: rem-calc(16);
				font-weight: normal;
				text-transform: uppercase;
				text-align: center;
				color: $white;
			}

			.underline {
				-webkit-transition: all 0.25s ease;
				-moz-transition: all 0.25s ease;
				-o-transition: all 0.25s ease;
				transition: all 0.25s ease;
				-webkit-transition-duration: 0.25s;
				-moz-transition-duration: 0.25s;
				-o-transition-duration: 0.25s;
				-ms-transition-duration: 0.25s;
				transition-duration: 0.25s;
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				-o-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				transform: translateX(-50%);
				position: absolute;
				left: 50%;
				height: 1px;
				width: 0;
				margin-top: 2px;
				opacity: 0;
				background-color: $white;
			}
		}
	}

	#panel-1 {
		background-image: url(#{$image-path}/movienights/panels/movie.jpg);
		//background-position: center right;
	}

	#panel-2 {
		background-image: url(#{$image-path}/movienights/panels/food.jpg);
	}

	#panel-3 {
		background-image: url(#{$image-path}/movienights/panels/drink.jpg);
	}

	#panel-4 {
		background-image: url(#{$image-path}/movienights/panels/trivia.jpg);
	}

	#panel-5 {
		background-image: url(#{$image-path}/movienights/panels/music.jpg);
	}

	#panel-6 {
		background-image: url(#{$image-path}/movienights/panels/clothing.jpg);
	}
}