#nav-container {
    &.contain-to-grid {
        background: none;
    }
}

#brand {
    @include border-radius(0px 0px 25px 0px);
    top: 0;
    position: fixed;
    width: (88/$logo-divisor) * 1px;
    height: (166/$logo-divisor) * 1px;
    margin-left: rem-calc(20);
    background-image: url(#{$image-path}/pattern.jpg);
    background-repeat: repeat;
    z-index: 100; // 1 higher then the fixed top-bar

    a {
        display: block;

        img {
            display: block;
            width: (62/$logo-divisor) * 1px;
            height: (144/$logo-divisor) * 1px;
            margin: rem-calc(10) auto;
        }
    }
}

nav {
    // so we can have a nice border on the bottom and not have it be included in the height/line-height
    @include box-sizing(content-box);
    border-bottom: 1px solid $black;
    @include box-shadow(0 7px 25px -15px $black);

    .title-area {
        .name {
            font-family: $didot5i;
            font-weight: 700;
            margin-left: rem-calc(95);
            font-size: rem-calc(20);
            text-transform: uppercase;

            a {
                color: $black;
            }

            span {
                font-family: $didot5i;
                font-weight: 500;
                text-transform: none;
            }
        }
    }

    .top-bar-section {      
        ul {
            li {
                a {
                    font-family: $futura;
                    text-transform: uppercase;

                    &.button {
                        font-family: $font-family-serif;
                    }
                }
            }
        }          
    }
}