#nav-container {
    &.contain-to-grid {
        background: none;
    }
}

#brand {
    @include border-radius(0px 0px 25px 0px);
    top: 0;
    position: fixed;
    width: (88/$logo-divisor) * 1px;
    height: (166/$logo-divisor) * 1px;
    margin-left: rem-calc(20);
    background-image: url(#{$image-path}/pattern.jpg);
    background-repeat: repeat;
    z-index: 100; // 1 higher then top-bar

    a {
        display: block;

        img {
            display: block;
            width: (62/$logo-divisor) * 1px;
            height: (144/$logo-divisor) * 1px;
            margin: rem-calc(10) auto;
        }
    }
}

nav {
    // so we can have a nice border on the bottom and not have it be included in the height/line-height
    @include box-sizing(content-box);
    border-bottom: 1px solid $black;
    @include box-shadow(0 7px 25px -15px $black);

    .title-area {
        .name {
            font-family: $didot5i;
            font-weight: 700;
            margin-left: rem-calc(95);
            font-size: rem-calc(20);
            text-transform: uppercase;

            @media #{$small-to-medium-only} {
                margin-left: rem-calc(60);
            }

            a {
                color: $black;
            }

            span {
                font-family: $didot5i;
                font-weight: 500;
                text-transform: none;
            }
        }
    }

    &.expanded {
        .top-bar-section {
            z-index: 101;
        }
    }

    &.fixed {
        z-index: auto;
    }

    .top-bar-section {
        ul {
            li {
                @media #{$topbar-media-query} {
                    &.divider {
                        height: 22px;
                        margin-top: 11px;
                    }
                }

                a {
                    font-family: $futura;
                    text-transform: uppercase;

                    &.button {
                        font-family: $font-family-serif;
                    }
                }

                &.has-form {
                    button {
                        height: 1.8rem;
                        padding-top: rem-calc(7);

                        @media #{$small-only} {
                            top: 0;
                        }
                    }
                }

                &.has-dropdown {
                    a:first-child {
                        color: $black;

                        &:hover {
                            color: scale-color($primary-color, $lightness: 10%);
                        }
                    }
                }
            }
        }   

        .dropdown {
            background: $white;
            overflow: hidden !important;

            &.logged-in-nav {
                @media #{$large-up} {
                    border: 1px solid $black;
                    @include box-shadow(-3px 6px 19px -6px $black);
                    @include border-radius(0px 0px 4px 4px);
                }

                .divider {
                    margin: 0;
                    height: auto;
                }

                li {

                    a {
                        font-size: 14px;
                        font-size: rem-calc(14);
                        font-family: $body-font-family;
                        text-transform: capitalize;
                        line-height: 38px;

                        &.logout {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}