$icons-height: rem-calc(163);
$icons-size: rem-calc(40);

header {
	&.page {
		padding: rem-calc(82 0);
		// background-image: url(#{$image-path}/bgProfile.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		max-height: 304px;
		text-align: center;
		color: #fff;

		@media #{$small-only} {
			padding: rem-calc(36 0);
		}

		h2 {
			color: #fff;
			font-size: rem-calc(60);
			margin: 0;
			text-transform: uppercase;
		}

		h3 {
			margin-bottom: rem-calc(30);
		}

		p {
			margin: 0;
			font-size: rem-calc(18);
		}
	}
}

%movie-article-lines {
	border-top: 1px solid $steel;
	margin: rem-calc(0 0 15 0);
	position: static;
}


.lines {
	section.page & {
		margin: rem-calc(14 0 36 0);
	}
}

.reveal-modal {
	h2 {
		margin-bottom: rem-calc(30);
	}
	
	a {
		@extend %standard-link;

		&.close-reveal-modal {
			text-decoration: none;
		}
	}
}

%h3 {
	font-family: $futura;
	font-size: rem-calc(14);
	text-transform: uppercase;
	color: $steel;
}

dl {
	dt {
		@extend %h3;
	}

	dd {
		margin-bottom: 2rem;
	}
}

$shotform-content-padding: rem-calc(25);
.shortform-content {
	background-color: $white;
	text-align: center;
	margin-top: $shotform-content-padding*2;

	&:before {
		content: '';
		display: block;
		position: relative;
		margin-bottom: $shotform-content-padding;
		height: rem-calc(10);
		background-image: url(#{$image-path}/pattern.jpg);
		background-repeat: repeat;
		border-top: 1px solid $steel;
	}

	&:after {
		content: '';
		display: block;
		position: relative;
		margin-top: $shotform-content-padding;
		border-top: 1px solid $gainsboro;
	}

	h3 {
		@extend %h3;
	}
}

.social.icons {
	position: relative;
	width: rem-calc(40);
	float: left;
	background: url(#{$image-path}/pattern.jpg);
	height: $icons-height;

	@media #{$small-to-medium-only} {
		border-top: 1px solid $steel;
		float: none;
		width: 100%;
		height: 55px;
		margin-bottom: rem-calc(15);
	}

	.bmbf {
		width: $icons-size;
		height: $icons-size;
		line-height: $icons-size;
		margin-bottom: 1px;
		text-align: center;
		float: left;
		cursor: pointer;
		background-color: $steel;
		color: $white;
		transition: background-color 0.2s ease-in-out;

		@media #{$small-to-medium-only} {
			width: $icons-size + rem-calc(15);
			height: $icons-size + rem-calc(15);
			line-height: $icons-size + rem-calc(15);

			margin-bottom: 0px;
			margin-right: 1px;
		}

		&:first-child {
			background-color: $oil;
			cursor: auto;

			&:hover {
				background-color: $oil;
			}
		}

		&:hover {
			background-color: $charcoal;
		}
	}
}

.ad_rotator {
	margin-top: rem-calc(40);

	h2 {
		text-align: center;
		font-size: rem-calc(28);
	}
}