header {
	&.page {
		padding: rem-calc(82 0);
		// background-image: url(#{$image-path}/bgProfile.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		max-height: 304px;
		text-align: center;
		color: #fff;

		@media #{$small-only} {
			padding: rem-calc(36 0);
		}

		h2 {
			color: #fff;
			font-size: rem-calc(60);
			margin: 0;
			text-transform: uppercase;
		}

		h3 {
			margin-bottom: rem-calc(30);
		}

		p {
			margin: 0;
			font-size: rem-calc(18);
		}
	}
}

.lines {
	section.page & {
		margin: rem-calc(14 0 36 0);
	}
}

.reveal-modal {
	h2 {
		margin-bottom: rem-calc(30);
	}
	
	a {
		@extend %standard-link;

		&.close-reveal-modal {
			text-decoration: none;
		}
	}
}

%h3 {
	font-family: $futura;
	font-size: rem-calc(14);
	text-transform: uppercase;
	color: $steel;
}

dl {
	dt {
		@extend %h3;
	}

	dd {
		margin-bottom: 2rem;
	}
}

$shotform-content-padding: rem-calc(25);
.shortform-content {
	background-color: $white;
	text-align: center;
	margin-top: $shotform-content-padding*2;

	&:before {
		content: '';
		display: block;
		position: relative;
		margin-bottom: $shotform-content-padding;
		height: rem-calc(10);
		background-image: url(#{$image-path}/pattern.jpg);
		background-repeat: repeat;
		border-top: 1px solid $steel;
	}

	&:after {
		content: '';
		display: block;
		position: relative;
		margin-top: $shotform-content-padding;
		border-top: 1px solid $gainsboro;
	}

	h3 {
		@extend %h3;
	}
}