header {
	&.profile {
		background-image: url(#{$image-path}/bgProfile.jpg);
	}
}

#profile {
	p {
		&.email-warning {
			font-style: italic;
			font-size: 0.8rem;
			color: #aaa;
		}
	}

	h3 {
		margin-bottom: rem-calc(30);
	}
}

#watchlist {
	ul {
		margin-bottom: rem-calc(36);
	}
}

