header {
	&.stories {
		background-image: url(#{$image-path}/bgProfile.jpg);
	}
}

.story-list {
	li {
		a {
			display: block;
		}

		h4 {
			margin-top: rem-calc(8);
			font-family: $font-family-serif;
			font-size: rem-calc(16);
			font-weight: normal;
			text-transform: capitalize;
		}
	}
}