<footer>
    <div class="row">          
        <div class="medium-12 large-10 large-centered columns">
            <div class="row">
                <div class="large-3 columns">
                    <div id="copyright-wrap">
                        <div id="c">C</div>
                        <div id="year">2014</div>
                    </div>
                </div>
                <div class="medium-6 medium-centered large-4 large-uncentered show-for-medium-up columns">
                <p class="blurb text-justify">
                    <b>BEST MOVIES BY FARR</b> is your personal guide to great movies to stream, rent or buy, and to watch at home or on-the-go. Led by film advocate John Farr, the Best Movies by Farr team works as a "quality filter" for the discerning moviegoer. Every day, we bring you the best of the best, the fantastic familiar films and hidden gems, to answer that age-old question: "What should we watch tonight?"
                </p>               
                </div>
                <div class="large-5 columns">
                    <div class="row">
                        <ul class="nav-small small-12 columns">
                            <li><a href="http://www.bestmoviesbyfarr.com/articles/8euJl3/about.html">About</a></li>
                            <li><a href="http://www.bestmoviesbyfarr.com/articles/NnX0fK/best-movies-by-farr.html">Privacy Policy</a></li>
                            <li><a href="http://www.bestmoviesbyfarr.com/articles/sV0guC/best-movies-by-farr.html">Terms of Use</a></li>
                            <li><a href="mailto:contact@bestmoviesbyfarr.com">Talk to Us</a></li>
                            <li class="rss-button"><a href="http://www.bestmoviesbyfarr.com/rss.xml">RSS</a></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="copyright-terms small-12 columns">
                            Copyright &copy; 2014, Farr on Film, LLC. All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</footer>