<header>
	<div id="header-slider" data-orbit
							data-options="animation:fade;
							timer_speed:4200;
							timer:true;
							swipe:false;
							pause_on_hover:false;
							animation_speed:300;
							navigation_arrows:true;
							bullets:false;
							next_on_click:false;
							variable_height:true;">

		<div class="slide" data-orbit-slide="potd-1" style="background-image:url(static-assets/images/hero1.jpg)">
			<div class="content small-12 columns">
				<div class="pick row collapse">
					<div class="small-12 columns">
						<p class="headline">Pick of the Day:</p>
						<p class="category">Genre/<span>Drama</span></p>
					</div>
				</div>
				<div class="title row collapse">
					<div class="small-12 large-9 columns">
						<h2>127 Hours</h2>
					</div>
					<div class="button-container small-12 large-3 columns">
						<a href="#" class="button round">Watch It <i class="bmbf bmbf-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div class="slide" data-orbit-slide="potd-2" style="background-image:url(http://www.bestmoviesbyfarr.com/movies/tt0032599/images/qWRtM5v44yfuX1foHZPGhYbQEjx.jpg)">
			<div class="content small-12 columns">
				<div class="pick row collapse">
					<div class="small-12 columns">
						<p class="headline">Pick of the Day:</p>
						<p class="category">Decade/<span>1940s</span></p>
					</div>
				</div>
				<div class="title row collapse">
					<div class="small-12 large-9 columns">
						<h2>His Girl Friday</h2>
					</div>
					<div class="button-container small-12 large-3 columns">
						<a href="#" class="button round">Watch It <i class="bmbf bmbf-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div class="slide" data-orbit-slide="potd-3" style="background-image:url(http://www.bestmoviesbyfarr.com/movies/tt0817508/images/2-hjncxz.jpg)">
			<div class="content small-12 columns">
				<div class="pick row collapse">
					<div class="small-12 columns">
						<p class="headline">Pick of the Day:</p>
						<p class="category">Mood/<span>Farr-Cical</span></p>
					</div>
				</div>
				<div class="title row collapse">
					<div class="small-12 large-9 columns">
						<h2>Back to the Future</h2>
					</div>
					<div class="button-container small-12 large-3 columns">
						<a href="#" class="button round">Watch It <i class="bmbf bmbf-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div class="slide" data-orbit-slide="potd-4" style="background-image:url(http://www.bestmoviesbyfarr.com/movies/tt0079470/images/1DgyEbHUGtDdPoGdZcKYq8Z2AkF.jpg)">
			<div class="content small-12 columns">
				<div class="pick row collapse">
					<div class="small-12 columns">
						<p class="headline">Pick of the Day:</p>
						<p class="category">Country/<span>United Kingdom</span></p>
					</div>
				</div>
				<div class="title row collapse">
					<div class="small-12 large-9 columns">
						<h2>Monty Python's Life of Brian</h2>
					</div>
					<div class="button-container small-12 large-3 columns">
						<a href="#" class="button round">Watch It <i class="bmbf bmbf-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>