{{!-- <section id="brand">
    <a class="home" href="http://bestmoviesbyfarr.com">
        <div class="logo_container">
            <div class="logo"></div>
        </div>
    </a>
</section> --}}

<nav class="top-bar row" data-topbar="">
    <ul class="title-area">
        <li class="name">
            <h1><a class="home" href="http://bestmoviesbyfarr.com">Best Movies <span>by</span> Farr</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
            <li><a href="#">Home</a></li>
            <li class="divider"></li>
            <li><a href="#">Movies</a></li>
            <li class="divider"></li>
            <li><a href="#">Stories</a></li>
            <li class="divider"></li>
            <li><a href="#">About</a></li>
            <li class="divider"></li>
            <li><a href="#">Login / Signup</a></li>
            <li class="divider"></li>
            <li>Search</li>
        </ul>
    </section>
</nav>