<div id="brand">
    <a href="#"><img src="images/logo.png"></a>
</div>
<div id="nav-container" class="contain-to-grid fixed">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a class="home" href="http://bestmoviesbyfarr.com">Best Movies <span>by</span> Farr</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <!-- right section -->
            <ul class="right">
                <li><a href="#">Home</a></li>
                <li class="divider"></li>
                <li><a href="#">Movies</a></li>
                <li class="divider"></li>
                <li><a href="#">Stories</a></li>
                <li class="divider"></li>
                <li><a href="#">About</a></li>
                <li class="divider"></li>
                <li class="">
                    {{!-- <a href="#"><i class="bmbf bmbf-user bmbf-lg"></i> Login / Signup</a> --}}
                    <a id="reg-btn-dropdown" data-dropdown="reg-dropdown" aria-controls="drop" aria-expanded="false"><i class="bmbf bmbf-user bmbf-lg"></i> Login / Signup</a>
                </li>
                <li class="divider"></li>
                <li class="has-form">
                    <div class="row collapse">
                        <div class="large-8 small-9 columns">
                            <input id="search" type="text" name="search" placeholder="Search...">
                        </div>
                        <div class="large-4 small-3 columns">
                            <a class="button expand"><i class="bmbf bmbf-search"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </nav>
</div>
{{> registration }}
