// Icon font created at http://app.fontastic.me/ for free with user account netglory@gmail.com
@charset "UTF-8";

// Variables
// -------------------------
$bmbf-font-path:        "../../static-assets/fonts" !default;
$bmbf-css-prefix:       bmbf !default;
$bmbf-border-color:     #eee !default;
$bmbf-inverse:          #fff !default;
$bmbf-li-width:         (30em / 14) !default;
$bmbf-vert-offset:      -7%;

// Path
// -------------------------
@font-face {
  font-family: "bmbf";
  src:url('#{$bmbf-font-path}/bmbf.eot');
  src:url('#{$bmbf-font-path}/bmbf.eot?#iefix') format("embedded-opentype"),
    url('#{$bmbf-font-path}/bmbf.woff') format("woff"),
    url('#{$bmbf-font-path}/bmbf.ttf') format("truetype"),
    url('#{$bmbf-font-path}/bmbf.svg#bmbf') format("svg");
  font-weight: normal;
  font-style: normal;
}

// Core
// -------------------------
.#{$bmbf-css-prefix} {
  display: inline-block;
  font: normal normal normal 16px/1 bmbf; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  // text-transform: none;
  //speak: none;
  vertical-align: $bmbf-vert-offset; // custom adjustment for this particular site
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Icon Sizes
// -------------------------

/* makes the font 33% larger relative to the icon container */
.#{$bmbf-css-prefix}-lg {
  font-size: (4em / 3);
  //line-height: (3em / 4);
  vertical-align: -16%;
}

.#{$bmbf-css-prefix}-2x { font-size: 2em; }
.#{$bmbf-css-prefix}-3x { font-size: 3em; }
.#{$bmbf-css-prefix}-4x { font-size: 4em; }
.#{$bmbf-css-prefix}-5x { font-size: 5em; }
.#{$bmbf-css-prefix}-6x { font-size: 6em; }
.#{$bmbf-css-prefix}-7x { font-size: 7em; }
.#{$bmbf-css-prefix}-8x { font-size: 8em; }

// Fixed Width Icons
// -------------------------
.#{$bmbf-css-prefix}-fw {
  width: (18em / 14);
  text-align: center;
}

// Vertical Align Middle
// -------------------------
.#{$bmbf-css-prefix}-middle {
  vertical-align: middle;
}

// Rotating icons
// Rotated & Flipped Icons
// -------------------------
@mixin bmbf-icon-rotate($degrees, $rotation) {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation});
  -webkit-transform: rotate($degrees);
      -ms-transform: rotate($degrees);
          transform: rotate($degrees);
}

@mixin bmbf-icon-flip($horiz, $vert, $rotation) {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation});
  -webkit-transform: scale($horiz, $vert);
      -ms-transform: scale($horiz, $vert);
          transform: scale($horiz, $vert);
}

.#{$bmbf-css-prefix}-rotate-90  { @include bmbf-icon-rotate(90deg, 1);  }
.#{$bmbf-css-prefix}-rotate-180 { @include bmbf-icon-rotate(180deg, 2); }
.#{$bmbf-css-prefix}-rotate-270 { @include bmbf-icon-rotate(270deg, 3); }

.#{$bmbf-css-prefix}-flip-horizontal { @include bmbf-icon-flip(-1, 1, 0); }
.#{$bmbf-css-prefix}-flip-vertical   { @include bmbf-icon-flip(1, -1, 2); }

// Hook for IE8-9
:root .#{$bmbf-css-prefix}-rotate-90,
:root .#{$bmbf-css-prefix}-rotate-180,
:root .#{$bmbf-css-prefix}-rotate-270,
:root .#{$bmbf-css-prefix}-flip-horizontal,
:root .#{$bmbf-css-prefix}-flip-vertical {
  filter: none;
}


// Content
// -----------------------------------------------------------------------------------------------------------
/* Edit Below Only When adding fonts from fontastic.me, make sure the prefix is the same as $fa-css-prefix and you export as PUA */

.bmbf-genre:before {
  content: "\e000";
}
.bmbf-user:before {
  content: "\e001";
}
.bmbf-lock:before {
  content: "\e002";
}
.bmbf-search:before {
  content: "\e003";
}
.bmbf-arrow-right:before {
  content: "\e004";
}
.bmbf-arrow-left:before {
  content: "\e005";
}
.bmbf-email:before {
  content: "\e006";
}
.bmbf-globe:before {
  content: "\e007";
}
.bmbf-smile:before {
  content: "\e008";
}
.bmbf-dice:before {
  content: "\e009";
}
.bmbf-clock:before {
  content: "\e00a";
}
.bmbf-play-open:before {
  content: "\e00b";
}
.bmbf-filmstrip:before {
  content: "\e00c";
}
.bmbf-file-text:before {
  content: "\e00d";
}
.bmbf-comment:before {
  content: "\e00e";
}
.bmbf-plus:before {
  content: "\e00f";
}
.bmbf-play:before {
  content: "\e010";
}
.bmbf-check:before {
  content: "\e011";
}
.bmbf-arrow-long-left:before {
  content: "\e012";
}
.bmbf-arrow-long-right:before {
  content: "\e013";
}
.bmbf-caret-down:before {
  content: "\e014";
}
.bmbf-remove:before {
  content: "\e015";
}
.bmbf-desktop:before {
  content: "\e016";
}
.bmbf-laptop:before {
  content: "\e017";
}
.bmbf-apple:before {
  content: "\e018";
}
.bmbf-android:before {
  content: "\e019";
}
.bmbf-cutlery:before {
  content: "\e01a";
}
.bmbf-glass:before {
  content: "\e01b";
}
.bmbf-suit:before {
  content: "\e01c";
}
.bmbf-trivia:before {
  content: "\e01d";
}
.bmbf-music:before {
  content: "\e01e";
}
.bmbf-facebook:before {
  content: "\e01f";
}
.bmbf-twitter:before {
  content: "\e020";
}
.bmbf-youtube:before {
  content: "\e021";
}
.bmbf-google-plus:before {
  content: "\e022";
}
.bmbf-print:before {
  content: "\e023";
}
.bmbf-gw-youtube:before {
  content: "\e024";
}
.bmbf-gw-sundancenow:before {
  content: "\e025";
}
.bmbf-gw-xboxvideo:before {
  content: "\e026";
}
.bmbf-gw-hulu:before {
  content: "\e027";
}
.bmbf-gw-googleplay:before {
  content: "\e028";
}
.bmbf-gw-fandango:before {
  content: "\e029";
}
.bmbf-gw-amazon:before {
  content: "\e02a";
}
.bmbf-gw-vudu:before {
  content: "\e02b";
}
.bmbf-gw-itunes:before {
  content: "\e02c";
}
.bmbf-gw-redbox:before {
  content: "\e02d";
}
.bmbf-gw-netflix:before {
  content: "\e02e";
}
.bmbf-gw-fandor:before {
  content: "\e02f";
}
.bmbf-gw-moviesondemand:before {
  content: "\e030";
}
.bmbf-gw-snagfilms:before {
  content: "\e031";
}
.bmbf-gw-targetticket:before {
  content: "\e032";
}